html{-webkit-text-size-adjust:none;}
#header {
	background-image: url('../../image/playerbg.jpg');
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100px;
	font-weight: lighter;
	line-height: 100px;
	text-align: center;
	font-size: large;
	letter-spacing:2px;
}
#head-img {
	float: left;
	height: 60px;
	width: 60px;
	margin-left: 3%;
	margin-top: -20px;
}
#name {
	/*height: 50px;*/
	float: left;
	font-size: large;
	padding-top: 10px;
}
#desc {
	clear: both;
	/*font-weight: normal;*/
	height: 100px;
	/*line-height: 28px;*/
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 4px;
	font-size:10px;
	/*overflow: hidden;*/
	/*margin: auto 8% 10px 8%;*/
}
#desc p {   
	margin: 0;
} 
#desc-open {
	float: right;
	padding-top: 10px;
	margin-right: 3%;
	color: #cc0000;/*统一的暗红色*/
	font-size:x-small;
	/*font-weight: lighter;*/
}
.detail-head {
	background-color: #A0A0A0;
	color: #FFFFFF;
	/*font-weight: bold;*/
	font-size:x-small;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	clear: both;
}
.player-detail {
	margin: auto 3%;
	
}
.detail {
	margin: 3px auto;
	width: 50%;
	float: left;
	font-size:5px;
}
.w100 {
	width: 100%;
}
.s-box {
	/*margin: 3px auto;*/
	/*height: 5px;*/
}
.red {
	background-color: #cc0000;/*统一的暗红色*/
}
.grey {
	background-color: #686868;
}
.k-v {
	padding-left: 2px;
}