#header {
	background-image: url('../../image/againstbg.jpg');
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 150px;
}
.top-mid {
	padding-top:13%;
	float: left;
	width: 40%;
	text-align: center;
}
.top-30 {
	padding-top:13%;
	float: left;
	width: 30%;
	text-align: center;
}
#person1  {
}
.player-font {
}
img {
	/*margin-top: 10%;*/
}
#describe {
}
#matchname {
}
#nstate {
}
#person2 {
}
.photo {
	width: 60px;
	height: 60px;
}
#content {
	margin-top: 15px;
}
.score {
	margin: 5px 10px;
	padding: 5px auto;
	background-color: #F5F5F5;
	height: 20px;
}
.font-bold {
	font-weight: bold;
}
.left {
	float: left;
	padding-left:10%;
	text-align: center;
	width: 10%;
}
.right {
	float: right;
	padding-right:10%;
	text-align: center;
	width: 10%;
}
.m-left {
	float: left;
	position: absolute;
	margin-left: 30%;
	text-align: center;
	width: 10%;
}
.m-right {
	/*float: right;*/
	position: absolute;
	margin-left: 50%;
	text-align: center;
	width: 10%;
}
.mid {
	float: left;
	position: absolute;
	margin: auto 40%;
	text-align: center;
	width: 10%;
}
.red {
	color: #cc0000;/*统一的暗红色*/
}
/*live*/
.live-box {
	width: 30%;
	margin-left: 30%;
	background-color: #F5F5F5;/*统一灰色*/
	margin-top: 3px;
	text-align: center;
}
.bg-grey {
	background-color: grey;
}
.bg-red {
	background-color: #cc0000;/*统一的暗红色*/
}
.vs-l {
	float: left;
}
.vs-r {
	float: right;
}