#toptab {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	/*color:#ffffff;*/
	text-align: center;
	/*font-size: large;*/
	/*background-color: #cc0000;/*统一的暗红色*/
}
#top-title {
	position: absolute;
	margin-left: 33%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
#calendar {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}
.right {
	float: right;
	margin-right: 10px;
}
#tab2 {
	color: red;
}
#matchsDiv{
	margin-top: 40px;
}
.matchDiv {
	border-top:  #F5F5F5 solid 1px;
	border-bottom: #F5F5F5 solid 1px;
	clear: both;
	height: 120px;

}
.img {
	padding: 20px;
	width: 80px;
	height: 80px;
	float: left;
}
.poster-img {
	width: 80px;
	height: 80px;
}
.match-describe {
	margin-top: 10px;
}
.match-title {
	/*height: 45px;*/
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	/*font-weight: bold;*/
}
.h32 {
	height: 15px;
	margin-top: 7px;
	font-size: xx-small;
	/*margin-bottom: 20px;	*/
}
.img-s {
	height: 10px;
	width: 10px;
	padding-right: 3px;
}
.text-part{
	/*margin: 0 auto;*/
	/*float: left;*/
	display:block;
	float: left;
	vertical-align:middle;
	height: 10px;
	line-height: 10px;
}
.clo-red {
	/*color: red;*/
	co#cc0000;/*统一的暗红色*/
}
#cal-choose {
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
	display: none;
}
.year {
	border-bottom: #F5F5F5 solid 1px;
	/*font-size: large;*/
	text-align: center;
	height: 50px;
	line-height: 50px;
}