body {
	margin:0px auto;
	padding:0px;
}
.date {
	background-color: #cc0000;/*统一的暗红色*/
	color: #FFFFFF;
	height: 40px;
	line-height: 40px;
	text-align: center;
	/*padding: 5px 0;*/
}
.sessionhead {
	background-color: #F5F5F5;/*统一灰色*/
	color: #cc0000;
	padding: 5px 0;
	height: 26px;
	line-height: 26px;
}
.sessionhead-timeround {
	float: right;
	/*margin-left: 35%;*/
	width: 90%;
	text-align: center;
}
.against {
	/*padding: 5px 0;*/
	position: relative;
	height: 20px;
	line-height: 20px;
}
.grey-b-b {
	border-bottom: #C0C0C0 solid 1px;
}
.against-no {
	/*margin-left: 5px;*/
}
.against-p1name {
	margin-left: 5px;
}
.against-set {
	position: absolute;
	display: inline;
	height: 28px;
	line-height: 28px;
	width: 20%;
	left: 5%;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}
.mid {
	float: left;
	width: 33%;
	text-align: center;
}
.against-p2name {
	float: right;
}