.date {
	background-color: #cc0000;/*统一的暗红色*/
	color: #FFFFFF;
	height: 32px;
	line-height: 32px;
	text-align: center;
	padding: 5px 0;
}
.sessionhead {
	background-color: #F5F5F5;/*统一灰色*/
	color: #cc0000;
	padding: 5px 0;
	height: 30px;
	line-height: 30px;
}
.sessionhead-time {
	margin-left: 45%;
}
.sessionhead-round {
	margin-left: 3%;
}
.against {
	border-bottom: #F5F5F5 solid 1px;
	padding: 5px 0;
	position: relative;
	height: 28px;
	line-height: 28px;
}
.against-no {
	margin-left: 5px;
}
.against-p1name {
	margin-left: 5px;
}
.against-set {
	position: absolute;
	display: inline;
	height: 28px;
	line-height: 28px;
	width: 8%;
	left: 5%;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}
.mid {
	float: left;
	width: 33%;
	text-align: center;
}
.against-p2name {
	float: right;
}