body {
	margin: 0;
	padding: 0;
}
#bottomtabs {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #F5F5F5;
	/*z-index: 999;*/
	height: 40px;
	font-size: x-small;
}
.tab {
	float: left;
	/*margin:2%;*/
	width: 33%;
	text-align:center;
	padding-bottom: 4px;
}
.img-tab {
	width: 20px;
	height: 20px;
}
.bg-red {
	background-color: #cc0000;/*统一的暗红色*/
	color: #FFFFFF;
	/*font-size: large;*/
	height: 40px;
	line-height: 40px;
}